body {
  height: auto;
  width: auto;
  background-image: url(assets/Home3.png);
  background-size: auto;
  background-repeat: no-repeat;
}
.card:hover {
  background-color: #f0a55e;
}

.container {
  user-select: none;
}

#logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #f0a55e;
  background-image: url('assets/Logo.jpg');
  background-size: cover;
  background-position: center;
}
